body {
    padding-top: 80px;
    padding-bottom: 5px;
    background: url(../img/blueback.jpg);
    color: ghostwhite;
}

/* Navigation Styles */
.navbar-default .navbar-toggle {
    border-color: red;
    float: left; /* Move navbar toggle to left */
    margin-top: 22px;
    margin-left: 15px;
    background: ghostwhite;
}
.navbar-default .navbar-toggle .icon-bar {  background-color: red;  }
.navbar-default .navbar-toggle:hover {  background-color: white;  }
.navbar-nav > li > a {  line-height: 50px; }
.navbar-fixed-top {  min-height: 80px; }

.navbar-brand {
    height: 100px;
    position: absolute;
    left: 50%;
    margin-left: -100px !important;  /* 50% of your logo width */
    margin-top: -11px;
    display: block;
}
@media (max-width: 767px) {
    .navbar-nav > li > a {
        line-height: 20px;
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .navbar-collapse {
        border-top: hidden;
    }
}

/* Carousel Styles */
.carousel {  height: 250px;  }

/* Since positioning the image, we need to help out the caption */
.carousel-caption {
    top: 50%;
    transform: translateY(-50%);
    bottom: initial;
    z-index: 10;
    color: ghostwhite;
    size: 20px;
    text-shadow: 3px 2px 14px gray(150, 0.87);
    font-size: 15px;
    margin-top: -10px;
}

/* Declare heights because of positioning of img element */
.carousel .item {
    height: 250px;
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    transform-style: preserve-3d;
}

.carousel-inner > .item > img {
    position: absolute;
    top: 0;
    left: 0;
    min-width: 100%;
    height: 250px;
    filter:blur(7px);
}

/* Tagline Styles */
.tagline {
    background: firebrick;
    position: relative;
    color: ghostwhite;
    padding: 10px;
}

.tagline:before, .tagline:after {
    content: "";
    width: 100%;
    height: 3px;
    display: block;
    position: absolute;
    left: 0;
    background: ghostwhite;
}

.tagline:before {
    top: 1px;
    border-top: 2px solid #7c6d4c
}

.tagline:after {
    bottom: 1px;
    border-bottom: 2px solid #7c6d4c
}

/* Content Styles */
.business-hours li {
    line-height: 30px;
    border-bottom: 1px solid white;
}
.business-hours li:last-child {  border-bottom: none;  }
.prices {  color: steelblue;  }
.prices h2 {  color: ghostwhite;  }

/* Footer Styles */
address > a, a:hover, a:focus {  color: ghostwhite;  }
.footer-main {
    padding-top: 15px;
    padding-left: 20px;
}

.socials i:hover {
    opacity: 0.8;
    filter: alpha(opacity=80);
}
.copyright {
    color: #c0c0c0;
    margin: 20px;
}
.copyright a {  color: white;  }

.stripedbar {
    content: "";
    width: 100%;
    height: 3px;
    display: block;
    position: absolute;
    left: 0;
    background: ghostwhite;
    background-image: url(../img/Striped-pattern.png);

}